.App {
  text-align: center;
}


.container-article {
  
  width: 1050px;
  display: flex;
  
  flex-direction: column;
  align-content: center;
}

#root {
     
}

.container-menu-notion {
display: flex;

}

.article-props {
width: 50%;
display: flex;
}

.container-post {
display: flex;
flex-direction: column;
margin-top: 5rem;

}

.header-img {
  width: 100%
}
ul {
  text-decoration: none;
  list-style-type:none;
}

li {
font-size: 16px;
text-decoration: none;
font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

a:hover {
  border-bottom: gray;
  padding: 2px;
  background-color: rgb(233, 233, 233);
}